/* --- Reset --- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #111111;
    --pureWhite: #FFFFFF;
    --yellow: #F4D04E;
    --gray: #7F7F7F;
}

body {
    background-color: var(--yellow);
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
}

/* --- Main --- */

.main-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    background-color: var(--pureWhite);
    max-width: 327px;
    max-height: 540px;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--black);
    box-shadow: 10px 6px 5px 1px rgba(0,0,0,0.95);
}

.img-container {
    display: block;
    background-image: url(./assets/images/illustration-article.svg);
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.first-para {
    background-color: var(--yellow);
    width: min-content;
    padding: 0.5rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    font-weight: 800;
}

.published-para {
    margin-top: 0.75rem;
}

h1 {
    margin-top: 0.75rem;

}

h1 a{
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}

h1 a:hover {
    color: var(--yellow);
}

.description-para{
    color: var(--gray);
    margin-top: 0.75rem;
    line-height: 1.5rem;
}

.avatar-container{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.avatar-container img {
    width: 30px;
}

.name-para {
    font-weight: 800;
}

/* --- Media --- */

@media screen and (min-width: 640px) {
    .main-container {
        max-width: 384px;
        margin-top: 13rem;
    
    }

    h1 a{
        font-size: 1.5rem;
    }
}